@model GeradorDRG.Models.AltaPaciente

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AltaPaciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConfiguracaoId" class="control-label"></label>
                <select asp-for="ConfiguracaoId" class="form-control" asp-items="ViewBag.ConfiguracaoId"></select>
                <span asp-validation-for="ConfiguracaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoMotivo" class="control-label"></label>
                <input asp-for="CodigoMotivo" class="form-control" />
                <span asp-validation-for="CodigoMotivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoAlta" class="control-label"></label>
                <input asp-for="MotivoAlta" class="form-control" />
                <span asp-validation-for="MotivoAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
