
@{
    ViewData["Title"] = "Index";
}

<div class="container caixa2">

    <h1>DRG BRASIL</h1>
    <h2>GERADOR DE XML </h2>

    <br /><br />


    <div class="col-md-4 ">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Casamentiss faiz malandris se pirulitá. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.</p>
        <p>Atirei o pau no gatis, per gatis num morreus. Leite de capivaris, leite de mula manquis sem cabeça. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Diuretics paradis num copo é motivis de denguis. </p>
        <p>Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Per aumento de cachacis, eu reclamis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.</p>
        <p>A ordem dos tratores não altera o pão duris. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Quem num gosta di mim que vai caçá sua turmis! </p>
    </div>

    <div class="col-md-4 ">
        <h2>PARCERIA DRG BRASIL</h2>
        <p>﻿﻿O DRG Brasil é uma metodologia sofisticada de gerenciamento de custos e da qualidade assistencial, que permite a elaboração de pacotes ﻿﻿- clínicos e cirúrgicos </p>
        <p><a class="btn btn-default" href="http://www.drgbrasil.com.br/operadoras/">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4 ">
        <h2>PARCERIA DRG BRASIL</h2>
        <p>﻿﻿O DRG Brasil é uma metodologia sofisticada de gerenciamento de custos e da qualidade assistencial, que permite a elaboração de pacotes ﻿﻿- clínicos e cirúrgicos </p>
        <p><a class="btn btn-default" href="http://www.drgbrasil.com.br/operadoras/">Saiba Mais &raquo;</a></p>
    </div>

    <div class="col-md-4 ">
        <h2>SANTA CASA SÃO CARLOS</h2>
        <p>﻿﻿A Irmandade Santa Casa de Misericórdia de São Carlos é a mais antiga instituição assistencial, beneficente e hospitalar em funcionamento na cidade de São Carlos. Fundada em 12 de abril de 1891 </p>
        <p><a class="btn btn-default" href="https://www.santacasasaocarlos.com.br/">Saiba Mais &raquo;</a></p>
    </div>

    <div class="col-md-4 ">
        <h2>SANTA CASA SÃO CARLOS</h2>
        <p>﻿﻿A Irmandade Santa Casa de Misericórdia de São Carlos é a mais antiga instituição assistencial, beneficente e hospitalar em funcionamento na cidade de São Carlos. Fundada em 12 de abril de 1891 </p>
        <p><a class="btn btn-default" href="https://www.santacasasaocarlos.com.br/">Saiba Mais &raquo;</a></p>
    </div>



</div>

