@model GeradorDRG.Models.PrestadorTeste

<div class="form-group">
    
    <input type="hidden" name="Prestadores.Index" value="@ViewBag.Index" />
    <label class="control-label" for="Prestadores[@ViewBag.Index].Nome">Nome do prestador</label>
    <input name="Prestadores[@ViewBag.Index].NomePrestador" class="form-control" id="Prestadores[@ViewBag.Index].NomePrestador" aria-required="true" required="required" type="text" value="@Model.NomePrestador">
    <span class="text-danger field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Prestadores[@ViewBag.Index].NomePrestador"></span>

    <label class="control-label" for="Prestadores[@ViewBag.Index].Nome">Código do prestador</label>
    <input name="Prestadores[@ViewBag.Index].CodPrestador" class="form-control" id="Prestadores[@ViewBag.Index].CodPrestador" aria-required="true" required="required" type="text" value="@Model.CodPrestador">
    <span class="text-danger field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Prestadores[@ViewBag.Index].CodPrestador"></span>
    <a href="#" class="btn btn-danger remove_field">Remove</a>
    
</div>